:root{
    --blue: rgba(15,115,238,255);
    --font1: 'Anek Tamil';
    --font2: 'Poppins';
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
ul, li{
    list-style-type: none;
    list-style: none;
}
.container {
    position: absolute;
    left: 12%;
    display: flex;
    top: 12%;
    justify-content: center;
    height: 75%;
    align-items: center;
    border-radius: 10px;
    width: 27%;
    background-color: rgba(255, 255, 255);
    padding: 20px;
}
.container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 80%;
}
.input-group {
    width: 120%;
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    left: -20px;
    color: #aaa;
    justify-content: center;
}
.input-group:first-child{
    font-family: var(--font2);
}
.input-group:focus-within {
    color: #000;
}
input {
    border-radius: 1.2rem !important;
    margin: 0;
    width: 100%;
    font-size: 13px;
    border: 1px solid #aaa;
    padding: 10px 20px 10px 26px;
    height: 100%;
}
.input-group i {
    position: absolute;
    z-index: 1;
    top: 13px;
    font-size: .8rem;
} 
.input-group i:nth-child(1) {
    position: absolute;
    left: 10px;
    z-index: 1;
}
.input-group .fa-eye {
    right: 10px;
    visibility: hidden;
}
.input-group .fa-eye-slash {
    right: 10px;
    /* visibility: hidden; */
}
.input-group .btn{
    border-radius: 20px;
    font-size: .8rem;
    width: 100%;
    font-family: var(--font2);
    background-color: var(--blue);
}
.input-group span{
   color: #000;
   font-family: var(--font2);
   font-size: .8rem;
}







/* .input-group {
    width: 90%;
    margin: 20px auto;
}
.form-control{
    padding: 0.4rem 0.75rem;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 1rem;
}
.input-group>.form-control:focus{
    box-shadow: none;
    border: 2px solid var(--blue);
}
 */