@font-face {
 font-family:OpenSans;
 src:url('../css/OpenSans-Regular.ttf');
}
:root{
    --blue: rgba(15,115,238,255);
    --lightgrey1: #2a2a2a;
    --dark: #010101;
    --lightgrey2: #181818;
    --font1: 'Anek Tamil', OpenSans;
    --font2: 'Poppins', OpenSans;
    --white: #fff;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--font1);
}
a{
    text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}
ul, li{
    list-style-type: none;
    list-style: none;
}
body{
    position: relative;
    overflow-x: hidden;
    background-color: var(--lightgrey2) !important;
}

.clip-path{
    top: -7%;
    right: -22%;
    width: 60vw;
    position: absolute;
    background-color: var(--blue);
    height: 130vh;
    z-index: -1;
    border-radius: 50%;;
}
.body .side-images-left,
.body .side-images-right{
    width: auto;
}
.body .side-images-left{
    width: auto;
    top: 740px;
    z-index: 1;
}
.body .side-images-left > div > div:nth-child(1){
    padding: 0;
}
.body .side-images-left > div > div:nth-child(1) img{
    width: 175px;
}
.body .side-images-left > div > div:nth-child(2){
    padding: 1rem;
    border-radius: 0 14px 14px 0;
    display: block;
    text-align: center;
}
.body .side-images-left > div{
    align-items: stretch;
}
.body .side-images-right{
    width: auto;
    top: 1140px;
    z-index: 1;
    right: 0;
}
.body .side-images-right > div > div:nth-child(2){
    padding: 0;
}
.body .side-images-right > div > div:nth-child(2) img{
    width: 175px;
}
.body .side-images-right > div > div:nth-child(1){
    padding: 1rem;
    border-radius: 14px 0 0 14px;
    display: block;
    text-align: center;
}
.body .side-images-right > div{
    align-items: stretch;
    justify-content: flex-end;
    margin: 0 auto;
}

.body .about *, .body .promo * , .body .description *, .body .menu *, .body .footer *{
    color: var(--white);
}
.container-fluid{
    top: -10px;
    z-index: 1;
    /* background-color: #fff; */
    padding: 0 10px;
}
.container-fluid .search-bar{
    width: 500px;
    display: flex;
    align-items: stretch;
}
.container-fluid .search-bar i{
    font-size: 13px;
    color: #aaa;
    top: 33%;
    left: 2%;
}
.container-fluid .search-bar a{
    border-radius: 0 40pc 40pc 0;
    font-size: 14px;
}
.container-fluid .search-bar a:focus{
    box-shadow: none;
}
.container-fluid .search-bar:focus-within i,
.container-fluid .search-bar:focus-within input{
   color: #333;
}
.container-fluid input{
    font-size: 13px;
    color: #aaa;
    width: 100%;
    padding: 5px 0 3px 30px;
    border-radius: 40pc 0 0 40pc;
    outline: none;
    border: 1px solid white;
    transition: .2s ease-in;
}
.container-fluid input:focus{
    border: 2px solid var(--blue);
}
.container-fluid .logo1 ul{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px 0 0;
    padding: 0;
}
.container-fluid .logo1 ul li{
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
}
.container-fluid .logo1 ul i{
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
}
.container-fluid .logo1 ul li a{
    text-decoration: none;
    font-size: 14px;
    margin: 4px 6px 0 6px;
    color: #fff;
}
.container-fluid .logo1 ul li ul{
    text-align: center;
    width: 100px;
    position: absolute;
    padding: 0;
    /* display: block; */
    top: 30;
    background: var(--white);
    left: -10;
    display: none;
    z-index: 1;
}
.container-fluid .logo1 ul li:hover ul{
    display: block;
}
.container-fluid .logo1 ul li ul li{
    float: left;
    display: block;
    width: 100%;  
    line-height: 1.6rem;
}
.container-fluid .logo1 ul li ul li a{
    font-size: 13px;  
    color: var(--blue);
}

/* styles for body section */

.body .burger img{
    width: 355px;
}
.body .description * p{
    font-size: .8rem;
}
.body .description > div{
    margin: 10px 0;
    align-items: baseline;

}
.body .description ul{
    padding: 0;
    margin: 0;
}
.body .description ul li{
    display: inline-block;
    margin: 30px 30px 0 0;
    text-align: center;
}
.body .description ul li i{
    font-size: 1.8rem;
}




.body .description div:last-child p{
   font-size: 1rem;
}
.body .description div p a{
    background: var(--blue);
    color: var(--white);
    font-family: var(--font2);
    padding: 0.375rem .75em;
    border-radius: .2rem;
}
.body .description ul li h6{
    margin-top: 2rem;
    font-size: .8rem;
}
.body .appetizer{
    justify-content: space-around;
    margin: 100px 0;
}
.body .appetizer .card-holder{
    padding: 1rem;
    border-radius: .8rem;
}
.body .appetizer .card-holder .image{
    overflow: hidden;
    height: auto;
}
.body .appetizer .card-holder .image img {
    position: absolute;
    width: 150px;
}
.body .appetizer .card-holder:nth-child(1){
    background-color: green;
}
.body .appetizer .card-holder:nth-child(2){
    background-color: #ffbb03;
}
.body .appetizer .card-holder:nth-child(3){
    background-color: red;
}
.body .appetizer .card-holder:nth-child(1) .image img {
    left: -100px;
    bottom: -50px;
    width: 290px;
}
.body .appetizer .card-holder:nth-child(2) .image img {
    left: -50px;
    bottom: -20px;
    width: 180px;
}
.body .appetizer .card-holder:nth-child(3) .image img {
    left: -50px;
    bottom: -40px;
    width: 200px;
}
.body .appetizer .card-holder .card-description *{
    color: #fff;    
}
.body .appetizer .card-holder .card-description h3{
    font-family: unset;
    font-weight: bolder;
    font-size: 120%;
    margin: 0;
}
.body .appetizer .card-holder .card-description p{
    font-family: var(--font2);
    font-size: 11px;
    margin: 5px 0 0 0;
}

.body hr{
    color: grey;
}

.body .promo{
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 0;
}
.body .promo .card-holder{
    background: var(--lightgrey1);
    padding: 1rem;
    border-radius: .8rem;
}
.body .promo .card-holder .card-description{
    text-align: left;
}
.body .promo .card-holder .card-description p:first-of-type{
    font-size: .3rem;
    font-family: var(--font2);
    margin: 0 0 1.1rem 0;
}
.body .promo .card-holder .card-description p:last-of-type{
    font-size: .7rem;
    padding-top: 4px;
    font-family: var(--font2);
}
.body .promo .card-holder .card-description h3{
    margin: 0;
    font-family: unset;
    font-weight: bolder;
    font-size: 120%;
}
.body .promo .card-holder .card-description a{
    font-size: .8rem;
    background-color: var(--blue);
    padding: 0.375rem .75rem;
    color: var(--white);
    border-radius: .3rem;
}
.body .promo .card-holder .image img{
    width: 100px;
}
.body .promo .card-holder .image{
    margin: 20 auto 0 auto;
}
.body .promo .card-holder:first-child .image img{
    width: 180px;
    position: absolute;
    transform: translate(-20%, 1%);
}
.body .menu{
    padding: 70px 0;
    margin: 0 auto;
}
.body .menu > div:nth-child(2) > div {
    justify-content: right !important;
}
.body .menu > div > div > li {
    background-color: var(--lightgrey1);
    padding: 0.375rem .75rem;
    border-radius: 5px;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    font-size: .9rem;
}                                      
.body .menu > div > div > li.active {
    background-color: var(--blue);
}                  
.body .menu > div > div > li:hover {
    background-color: var(--blue);
}  
.body .menu .foods > div > div:nth-child(1){
    text-align: center;
    margin-bottom: 1.1rem;
}
.body .menu .foods > div > div:nth-child(1) [src="images/coke.png"]{
    width: 160px;
    padding: 0rem 2rem;
}
.body .menu .foods > div > div:nth-child(1) [src="images/burger4.png"]{
    width: 150px;
    padding: 1.1rem 1rem;
}
.body .menu .foods > div > div:nth-child(1) [src="images/fries2.png"]{
    width: 180px;
    padding: 1.1rem 2rem;
}
.body .menu .foods > div > div:nth-child(1) img{
    width: 140px;
    border-radius: 0.8rem;
    background-color: var(--lightgrey1);
    padding: 1.2rem 2rem;
}
.body .menu .foods > div > div:nth-child(2) s{
    color: grey;
    font-size: 12px;
}
.body .menu .foods > div > div:nth-child(2) h4{
    font-family: var(--font2);
    letter-spacing: 1;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
}
.body .menu .foods > div > div:nth-child(2) p{
    font-family: var(--font1);
    font-size: .8rem;
    margin: 0 auto;
}
.body .menu .foods > div > div:nth-child(2) > div > div:nth-child(2) a{
    font-family: var(--font1);
    font-size: .8rem;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--blue);
    padding: .375rem .75rem;
}
.body .menu .foods > div > div:nth-child(2) > div > div:nth-child(2) a:hover{
    background-color: rgb(13, 107, 221);
}


.body .about{
    padding: 4pc 0;
}
.body .about > .manager-comment{
    align-items: center;
}
.body .about > .manager-comment > .position-relative{
    overflow: hidden;
    height: 250px;
} 
.body .about > div > div > img{
    width: 270px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0; 
}


.body .pre-footer .brand a img{
    width: 150px;
}
.body .container-fluid{
    background-color: rgb(16, 16, 16);
    padding: 6pc 0;
}
.body .pre-footer{
    background-color: var(--lightgrey1);
    margin: 0;
    padding: 1pc 7pc;
}
.body .pre-footer h5{
    font-size: .9rem;
    font-weight: 600;
    word-spacing: 1px;
    letter-spacing: .5px;
    color: var(--white);
}
.body .pre-footer p{
    font-size: .7rem;
    color: rgb(201, 200, 200);
}
.body .pre-footer .newsletter form{
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
}
.body .pre-footer .newsletter form > i{
    position: absolute;
    color: #6c757d;
    top: 50%;
    left: 6;
    font-size: 1.1rem;
}
.body .pre-footer .newsletter form input{
    font-size: .9rem;
    padding: .5rem .5rem .5rem 1.7rem;
    width: 125%;
    color: initial;
    outline: none;
    border: 1px solid white;
    border-radius: 4px 0 0 4px;
    transition: .2s ease-in-out;
}
.body .pre-footer .newsletter form input:focus{
    border: 2px solid var(--blue);
}
.body .pre-footer .newsletter form a{
    display: grid;
    color: white;
    align-items: center;
    border-radius: 0 4px 4px 0;
    position: relative;
}
.body .pre-footer .newsletter form input:focus-within{
    color:#343a40;
}
.body .footer{
    margin: 100px 0;
}
.body .container > div > div > img{
    width: 200px;
}
.body .footer .container > div > div:nth-child(1)
.body .footer .container > div > div:nth-child(2){
    display: none;
}
.body .footer .container > div > div:nth-child(3) div{
    width: 100%;
}
.body .footer .container > div > div:nth-child(3) div li{
    display: inline-block;
    position: relative;
    width: 13%;
}
.body .footer .container > div > div:nth-child(3) div li span{
    font-size: 10px;
    position: absolute;
    display: none;
    bottom: -1.5rem;
    left: -0.6rem;
}
.body .footer .container > div > div * a, .body .footer .container > div > div * i{
    transition: .1s ease-out;
}
.body .footer .container > div > div:nth-child(3) div li:hover span{
    display: block;
    color: var(--blue);
}
.body .footer .container > div > div {
    padding-left: 6%;
}
.body .footer .container > div > div > div h4{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffff;
}
.body .footer .container > div > div:not(.body .footer .container > div > div:nth-child(3)) li a{
    font-size: .8rem;
}
.body .footer .container > div > div:nth-child(3) div li:hover i, 
.body .footer .container > div > div:not(.body .footer .container > div > div:nth-child(3)) li a:hover{
    color: var(--blue);
}
.body .footer .container > div > div > h4{
    font-size: .9rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: .2px;
}
.body .footer .container > div > div > div{
    margin-top: 1.5pc;
}
.rights{
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.rights h4{
    color: grey;
    margin: 0;
    font-size: 14px;
}




/* styles for extra large screens above 1199px eg laptop*/
@media (min-width: 1200px){
    .body{
        position: relative;      
    }
}











































/* styles for large screens above 991px eg desktops*/
@media (min-width: 992px) and (max-width: 1199.98px){
    .clip-path{
        display: none;
    }
}
/* styles for medium screens above 767px eg tablets*/
@media (min-width: 768px) and (max-width: 991.98px){
    .clip-path{
        display: none;
    }
}
/* styles for small screens above 576px eg phone*/
@media (min-width: 576px) and (max-width: 767.98px){
    .clip-path{
        display: none;
    }
}
/* styles for extra small screens above 320px eg smaller phones*/
@media (min-width: 320px) and (max-width: 575.98px){
    h1, h2, h3, h4{
        font-size: 13px !important;
    }
    h3{
        font-weight: bolder;
        letter-spacing: 1px;
        font-family: monospace;
    }
    h5{
        font-size: 12px !important;
    }
    p,a{
        font-size: 11px;
    }
    .container-fluid{
        padding: 0 !important;
        height: auto;
    }
    .clip-path{
        display: none;
    }
    .side-images-left{
        top: 18.5%;
    }
    .body .side-images-left > div > div:nth-child(1) img {
        width: 125px;
    }
    .side-images-right{
        top: 31.1%;
    }
    .container-fluid  button,  .container-fluid .brand, .container-fluid .logos{
        width: 32%;
    }
    .container-fluid button{
        justify-content: flex-start;
    }
    .container-fluid .brand{
        justify-content: center;
    }
    .container-fluid .logos{
        justify-content: flex-end;
        padding-right: 10px;
    }
    .container-fluid .logo1{
        display: none;
    }
    .container-fluid .search-bar{
        display: none;
    }
    .container-fluid .d-flex .logos{
        display: block;
    }
    .container-fluid .logos i{
        font-size: 18px;
    }
    .container-fluid .logos div{
        margin: 0 7px;
    }
    .container-fluid button i{
        font-size: 24px;
    }
    .container-fluid button:focus, 
    .offcanvas .offcanvas-header button:focus, .container-fluid .searchBar a:focus{
        box-shadow: none;
    }
    .container-fluid .searchBar{
        width: 85%;
        margin: 0 auto;
        top: -13;
    }
    .container-fluid .searchBar .position-absolute{
        font-size: 18px;
        color: #ccc;
        top: 15;
        left: 9;
    }
    .container-fluid .searchBar input {
        background: #f6f7f9;
        padding: 5px 0 5px 30px;
        color: #ccc;
        transition: .2s ease-in;
    }
    .container-fluid .searchBar:focus-within i,
    .container-fluid .searchBar:focus-within input{
        color: #333;
    }
    .container-fluid .searchBar:focus-within a i{
        color: #fff;
    }
    .offcanvas.show {
        width: 85%;
    }
    .offcanvas-header{
        border-bottom: 1px solid #ccc;
    }
    .offcanvas-header .offcanvas-title{
        display: inherit;
        font-size: 1.25rem !important;
        font-weight: 600;
    }
    .offcanvas-body {
        position: relative;
    }
    .offcanvas .navigation {
        position: absolute;
        width: 90%;
        display: flex;
        flex-direction: column;
        top: 7%;
        left: 0;
        padding-left: 30px;
    }
    .offcanvas .navigation div{
        line-height: 3rem;
        align-items: center;
        display: flex;
    }
    .offcanvas .navigation div:nth-child(7), .offcanvas .navigation div:nth-child(8){
        justify-content: center;
    }
    .offcanvas .navigation div i{
        font-size: 1.4rem;
        color: #444;
    }
    .offcanvas .navigation div li a{
        margin-left: 1.2rem;
        font-size: 13.5px;
    }
    .offcanvas .navigation div:nth-child(6) {
        border-bottom: 1px solid #ccc;
    }
    .offcanvas .navigation div:nth-child(7),
    .offcanvas .navigation div:nth-child(8){
        margin-top: 20px;
    }
    .offcanvas .navigation div:nth-child(7) li,
    .offcanvas .navigation div:nth-child(8) li{
        width: 100%;
        text-align: center;
        border-radius: 5px;
        font-size: .9rem;
    }
    .offcanvas .navigation div:nth-child(7) li{
        background-color: var(--blue);
    }
    .offcanvas .navigation div:nth-child(7) li a{
        color: #fff;
    }
    .offcanvas .navigation div:nth-child(7) li a,
    .offcanvas .navigation div:nth-child(8) li a{
        margin: 0;
    }
    .offcanvas .navigation div:nth-child(8) li{
        border: 2px solid #ccc;
    }
    .offcanvas .navigation div:nth-child(8) li:focus{
        background-color: var(--blue);
    }
    .offcanvas .offcanvas-header button{
        background: none;
        opacity: 1;
        transform: rotateZ(-90deg);
        font-size: 24px;
    }

    /* styles for body */
    .body .description > div,.body .container .burger{
        text-align: center;
    }
    .body .burger img {
        width: 150px;
    }
    








    .body .appetizer {
        margin: 50px auto;
    }
    .body .appetizer .card-holder{
        margin: .7rem 0;
        padding: .8rem;
        border-radius: .8rem;
    }
    .body .appetizer .card-holder:nth-child(1) .image img {
        left: -60px;
        bottom: -30px;
        width: 190;
    }
    .body .appetizer .card-holder:nth-child(2) .image img {
        width: 140px;
    }
    .body .appetizer .card-holder:nth-child(3) .image img {
        left: -25px;
        bottom: -40px;
        width: 150px;
    }

    .body .appetizer .card-holder .card-description p {
        -webkit-line-clamp: 5;
        overflow: hidden;
        /* text-overflow: ellipsis; */
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .body .promo .card-holder{
        margin: 20px 0;
    }
    .body .promo .card-holder .card-description p:first-of-type {
        margin: 0 0 0.1rem 0;
    }
    .body .promo .card-holder .card-description h3 {
        font-size: 120%;
    }
    .body .promo .card-holder:first-child .image img {
        width: 150px;
        transform: translate(-20%, -3%);
    }

    .body .promo .card-holder .image img {
        width: 90px;
        transform: translate(0px, -25px);
    }

    .body .menu{
        padding: 1pc 0;
    }
    .body .menu > div:nth-child(2) > div {
        justify-content: space-evenly !important;
        margin: 0 auto;
    }
    .body .menu .foods > div > div:nth-child(2) s {
        font-size: 10;
    }
    .body .menu > div > div > li {
        padding: 0.375rem 1rem;
        width: auto;
        font-size: 10px;
        margin: 0;
    }
    .body .foods, .body .beverages, .body .snacks{
        margin: 10px 0;
    }
    .body .menu .foods > div > div:nth-child(1) img {
        width: 100px;
    }
    .body .menu .foods > div > div:nth-child(1) [src="images/fries2.png"] {
    width: 120px;
    }
    .body .menu .foods > div > div:nth-child(1) [src="images/fries2.png"] {
        width: 105px;
        padding: 1.1rem 1.5rem;
    }
    .body .menu .foods > div > div:nth-child(2) h4 {
        margin: 0;
    }
    .body .menu .foods > div > div:nth-child(1) [src="images/burger4.png"] {
        width: 80px;
        padding: 0.7rem 0rem;
    }
    .body .menu .foods > div > div:nth-child(1) [src="images/coke.png"] {
        width: 100px;
        padding: 0rem 1rem;
    }
    .body .menu .foods > div > div:nth-child(2) s {
        font-size: 10;
    }
    .body .menu .foods > div > div:nth-child(2) > div > div:nth-child(2) a {
        font-size: .6rem !important;
    }
    
    
    .body .description ul {
        margin: 30px 0;
    }
    .body .description ul li {
        margin: 0 10px;
    }
    .body .description ul li i {
        font-size: 1rem;
    }
    .body .description ul li h6 {
        margin-top: 1rem;
        font-size: .6rem;
    }
    .body .description > div {
        margin: 5px 0;
    }
    .body .about{
        padding: 1pc 0;
    }
    .body .about > div > div > img {
        width: 120px;
        position: absolute;
        top: 25%;
        left: 0;
    }
    .body .footer{
        margin: 2.5pc 0 1pc 0;
    }
    .body .footer .container > div > div {
        padding-left: 0%;
        margin-top: 5%;
    }
    .body .footer .container > div > div:nth-child(3) div li {
        width: 5%;
    }
    .footer .container > div .brand a img{
        width: 120px;
    }
    .footer .container > div .newsletter form{
        display: flex;
        align-items: stretch;
        position: relative;
        width: 65%;
    }
    .footer .container > div .newsletter form a {
        text-align: center;
        padding: 0.375rem 0.75rem;
        display: grid;
        align-items: center;
        border-radius: 0 5px 5px 0;
    }
    .footer .container > div .newsletter form a i{
        font-size: 14px;
    }
    .footer .container > div .newsletter input{
        font-size: 13;
        padding: .37rem .1rem .37rem 1.4rem;
        width: 100%;
        outline: none;
        border: 1px solid #fff;
    }
    .footer .container > div .newsletter form i:not(.newsletter form a i){
        font-size: 14px;
        position: absolute;
        color: grey;
        top: 50%;
        left: 2%;
    }
    .body .footer .container > div > div > div{
        margin-top: .5pc;
    }















}